@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}

.container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container h1{
	font-size: 5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
	padding: 0.5rem;
	color: #01a8ca;
}

.container p{
	font-size: 2rem;
	text-align: center;
	overflow: hidden;
	padding: 0.5rem;
}

.typed-text{
	font-style: normal;
	font-weight: normal;
	color: #56fa65;
}

.cursor{
	display: inline-block;
	width: 3px;
	background-color: #ccc;
	margin-left: 0.1rem;
	animation: blink 1s infinite;
}

.cursor .typing{
	animation: none;
}

@keyframes blink{
	0% { background-color: #ccc; }
	49% { background-color: #ccc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100% { background-color: #ccc; }
}

button{
	font: 3rem 'Montserrat';
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin: 30px;
	height: 100px;
	width: 300px;
	position: relative;
	color: #ccc;
	cursor: pointer;
	background-color: #f16a1d;
	border: none;
	box-shadow: 1px 1px #913A08,
				2px 2px #913A08,
				3px 3px #913A08,
				4px 4px #913A08,
				5px 5px #913A08,
				6px 6px #913A08,
				7px 7px #913A08,
				8px 8px #913A08,
				9px 9px #913A08,
				10px 10px #913A08,
				11px 11px #913A08,
				12px 12px #913A08,
				13px 13px #913A08,
				14px 14px #913A08,
				15px 15px #913A08;
}

button:active{
	border: none;
	box-shadow: 1px 1px #913A08,
				2px 2px #913A08;

	top: 14px;
	left: 14px;
	position: relative;
}